.userMenu {
  height: 100%;
  background: var(--aside-background-color);
  padding: var(--app-bar-height) 1em 1em 1em;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 1em;
  max-width: calc(400px + 2em);
}

.appletHeadline {
  padding-bottom: 0.3em;
}

.applets {
  display: grid;
  gap: 1em;
  overflow-y: auto;
}

.ad {
  width: 400px;
  height: 300px;
  display: grid;
  place-items: center;
  background: var(--primary-background-color);
}
